</main>

<footer>

  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p>Copyright ©  <script>document.write(/\d{4}/.exec(Date())[0])</script> </p>
  

</footer>

<p class="bottomright" >Made by Arslan ❤️</p>
</body>

</html>